<!--/*
*  ***********************************************************************
*  Fulcro Consulting pvt ltd CONFIDENTIAL
*  ___________________
*
*  Copyright 2023 Fulcro Consulting pvt ltd
*  All Rights Reserved.
*
*  NOTICE:  All information contained herein is, and remains the property
*  of Fulcro Consulting pvt ltd and its suppliers, if any. The intellectual and
*  technical concepts contained herein are proprietary to Fulcro Consulting pvt ltd
*  and its suppliers and are protected by trade secret or copyright law.
*  Dissemination of this information or reproduction of this material
*  is strictly forbidden unless prior written permission is obtained
*  from Fulcro Consulting pvt ltd.
*  ***********************************************************************
*/-->

<sly data-sly-use.myDownloadModel="com.adobe.aem.guides.mak.core.models.MyDownload"
     data-sly-test.configured="${false}">
    <p>Global Textfield Test: ${myDownloadModel.globalTextfieldTest}</p>
    <p>Shared Textfield Test: ${myDownloadModel.sharedTextfieldTest}</p>
    <p>Icon 1: <img src="${myDownloadModel.icon1.src}"/></p>
    <p>Icon 2: <img src="${myDownloadModel.icon2.src}"/></p>
    <p>Icon 3: <img src="${myDownloadModel.icon3.src}"/></p>
    <p>Icon 4: <img src="${myDownloadModel.icon4.src}"/></p>
    <p>Icon 5: <img src="${myDownloadModel.icon5.src}"/></p>
    <p>Icon 6: <img src="${myDownloadModel.icon6.src}"/></p>
    <p>Icon 7: <img src="${myDownloadModel.icon7.src}"/></p>
    <p>Icon 8: <img src="${myDownloadModel.icon8.src}"/></p>
    <p>Point 1: ${myDownloadModel.point1}</p>
    <p>Point 2: ${myDownloadModel.point2}</p>
    <p>Point 3: ${myDownloadModel.point3}</p>
    <p>Point 4: ${myDownloadModel.point4}</p>
    <p>Point 5: ${myDownloadModel.point5}</p>
    <p>Point 6: ${myDownloadModel.point6}</p>
    <p>Point 7: ${myDownloadModel.point7}</p>
    <p>Point 8: ${myDownloadModel.point8}</p>

</sly>

<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
     data-sly-call="${templates.placeholder @ isEmpty = !configured}" />